<div class="container-fluid">
  <div class="row">

    <div class="col">

      <svg class="box" width="604px" height="404px">
        <line x1="100" y1="0" x2="100" y2="400" stroke="black" stroke-width="1"></line>
        <line x1="200" y1="0" x2="200" y2="400" stroke="black" stroke-width="1"></line>
        <line x1="300" y1="0" x2="300" y2="400" stroke="black" stroke-width="1"></line>
        <line x1="400" y1="0" x2="400" y2="400" stroke="black" stroke-width="1"></line>
        <line x1="500" y1="0" x2="500" y2="400" stroke="black" stroke-width="1"></line>
        <line x1="0" y1="100" x2="600" y2="100" stroke="black" stroke-width="1"></line>
        <line x1="0" y1="200" x2="600" y2="200" stroke="black" stroke-width="1"></line>
        <line x1="0" y1="300" x2="600" y2="300" stroke="black" stroke-width="1"></line>
        <line x1="0" y1="400" x2="600" y2="400" stroke="black" stroke-width="1"></line>
      </svg>

      <div class="buttons">
        <button (click)="dataInputForm === 'alternative'? setInputsData() : createFigure()" type="button"
                class="btn btn-success">Create figure!
        </button>
        <button (click)="clearSvgBox()" type="button" class="btn btn-danger">Clear box!</button>
        <button (click)="setInputForm()" type="button" class="btn btn-primary"><i class="fas fa-exchange-alt"></i>
        </button>
      </div>

    </div>

    <div class="col">

      <div *ngIf="dataInputForm === 'alternative'" class="input-group" id="input-alternative">
        <input [(ngModel)]="inputOptions" type="text" class="form-control" aria-label="Username">
        <div class="card">
          <div class="card-body">
            Enter the value in the following format: figure name -abbreviation [value]... <br>
            <i><b>examples:</b></i> <br>
            polyline -p [5,135 30,5 55,135 80,5, 105,135] -f [none] -sw [4] -sf [red] <br>
            rect -rx [100] -ry [100] -w [200] -h [120] -f [#2E2EFE] -sw [4] -sf [black] <br>
            polygon -p [100,100 200,300 400,220 500,250 500,100] -f [blue] -sw [4] -sf [red] <br>
            line -x1 [100] -y1 [130] -x2 [240] -y2 [300] -sw [4] -sf [rgb(123,104,238)] <br>
            circle -cr [100] -cx [200] -cy [200] -f [none] -sw [10] -sf [yellow] <br>
            ellipse -erx [150] -ery [100] -cx [300] -cy [200] -f [gray] -sw [10] -sf [blue] <br>
            <i><b>abbreviations list:</b></i>
            <ul>
              <li><b>-f:</b> fill</li>
              <li><b>-sf:</b> stroke-fill</li>
              <li><b>-fo:</b> fill-opacity</li>
              <li><b>-sw:</b> stroke-width</li>
              <li><b>-w:</b> width(for rect)</li>
              <li><b>-h:</b> height(for rect)</li>
              <li><b>-rx:</b> startX(for rect)</li>
              <li><b>-ry:</b> startY(for rect)</li>
              <li><b>-p:</b> point coordinate</li>
              <li><b>-cx:</b> centerX(circle | ellipse)</li>
              <li><b>-cy:</b> centerY(circle | ellipse)</li>
              <li><b>-erx:</b> ellipse radius X</li>
              <li><b>-ery:</b> ellipse radius Y</li>
              <li><b>-cr:</b> circle radius</li>
              <li><b>-x1:</b> X1(for line)</li>
              <li><b>-x2:</b> X2(for line)</li>
              <li><b>-y1:</b> y1(for line)</li>
              <li><b>-y2:</b> y2(for line)</li>
            </ul>
          </div>
        </div>
      </div>


      <div *ngIf="dataInputForm === 'standart'" class="input-standart">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Figure type:</span>
          </div>

          <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" role="button" id="dropdownFigureType" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              {{figureType}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a *ngFor="let figureType of figureTypes" class="dropdown-item" href="#"
                 (click)="setFigureType(figureType)">{{figureType}}</a>
            </div>
          </div>
        </div>

        <div class="input-group" *ngIf="figureType == 'rect'">
          <div class="input-group-prepend">
            <span class="input-group-text">Width:</span>
          </div>
          <input [(ngModel)]="rectWidth" type="text" aria-label="figureWidth">
        </div>

        <div class="input-group" *ngIf="figureType == 'rect'">
          <div class="input-group-prepend">
            <span class="input-group-text">Height:</span>
          </div>
          <input [(ngModel)]="rectHeight" type="text" aria-label="figureHeight">
        </div>

        <div class="input-group" *ngIf="figureType == 'rect'">
          <div class="input-group-prepend">
            <span class="input-group-text">X coordinate:</span>
          </div>
          <input [(ngModel)]="rectStartXCoordinate" type="text" aria-label="figureXCoordinate">
        </div>

        <div class="input-group" *ngIf="figureType == 'rect'">
        <div class="input-group-prepend">
          <span class="input-group-text">Y coordinate:</span>
        </div>
        <input [(ngModel)]="rectStartYCoordinate" type="text" aria-label="figureYCoordinate">
      </div>

      <div class="input-group"
           *ngIf="figureType == 'rect' || figureType == 'circle' || figureType == 'polygon' || figureType == 'ellipse' || figureType == 'polyline'">
        <div class="input-group-prepend">
          <span class="input-group-text">Fill:</span>
        </div>
        <input [(ngModel)]="fill" type="text" aria-label="figureFill" placeholder="color-name, rgb, hex">
      </div>

      <div class="input-group"
           *ngIf="figureType == 'rect' || figureType == 'circle' || figureType == 'polygon' || figureType == 'ellipse' || figureType == 'polyline'">
        <div class="input-group-prepend">
          <span class="input-group-text">Fill-opacity:</span>
        </div>
        <input [(ngModel)]="fillOpacity" type="text" aria-label="fillOpacity">
      </div>

      <div class="input-group"
           *ngIf="figureType == 'rect' || figureType == 'circle' || figureType == 'polygon' || figureType == 'line' || figureType == 'polyline' || figureType == 'ellipse'">
        <div class="input-group-prepend">
          <span class="input-group-text">Stroke color:</span>
        </div>
        <input [(ngModel)]="strokeFill" type="text" aria-label="figureStroke">
      </div>

      <div class="input-group"
           *ngIf="figureType == 'rect' || figureType == 'circle' || figureType == 'polygon' || figureType == 'line' || figureType == 'polyline' || figureType == 'ellipse'">
        <div class="input-group-prepend">
          <span class="input-group-text">Stroke width:</span>
        </div>
        <input [(ngModel)]="strokeWidth" type="text" aria-label="figureStrokeWidth">
      </div>

      <div class="input-group" *ngIf="figureType == 'polygon' || figureType == 'polyline'">
        <div class="input-group-prepend">
          <span class="input-group-text">Point coordinates:</span>
        </div>
        <input [(ngModel)]="pointCoordinates" type="text" aria-label="pointCoordinates">
      </div>

      <div class="input-group" *ngIf="figureType == 'circle'">
        <div class="input-group-prepend">
          <span class="input-group-text">Radius:</span>
        </div>
        <input [(ngModel)]="circleRadius" type="text" aria-label="circleRadius">
      </div>

      <div class="input-group" *ngIf="figureType == 'circle' || figureType == 'ellipse'">
        <div class="input-group-prepend">
          <span class="input-group-text">Center X:</span>
        </div>
        <input [(ngModel)]="circleCenterX" type="text" aria-label="circleCenterX">
      </div>

      <div class="input-group" *ngIf="figureType == 'circle' || figureType == 'ellipse'">
        <div class="input-group-prepend">
          <span class="input-group-text">Center Y:</span>
        </div>
        <input [(ngModel)]="circleCenterY" type="text" aria-label="circleCenterY">
      </div>

      <div class="input-group" *ngIf="figureType == 'ellipse'">
        <div class="input-group-prepend">
          <span class="input-group-text">Radius X:</span>
        </div>
        <input [(ngModel)]="ellipseRadiusX" type="text" aria-label="ellipseRadiusX">
      </div>

      <div class="input-group" *ngIf="figureType == 'ellipse'">
        <div class="input-group-prepend">
          <span class="input-group-text">Radius Y:</span>
        </div>
        <input [(ngModel)]="ellipseRadiusY" type="text" aria-label="ellipseRadiusY">
      </div>

        <div class="input-group" *ngIf="figureType == 'line'">
          <div class="input-group-prepend">
            <span class="input-group-text">line X1:</span>
          </div>
          <input [(ngModel)]="lineX1" type="text" aria-label="lineX1">
        </div>

        <div class="input-group" *ngIf="figureType == 'line'">
          <div class="input-group-prepend">
            <span class="input-group-text">line Y1:</span>
          </div>
          <input [(ngModel)]="lineY1" type="text" aria-label="lineY1">
        </div>

        <div class="input-group" *ngIf="figureType == 'line'">
          <div class="input-group-prepend">
            <span class="input-group-text">line X2:</span>
          </div>
          <input [(ngModel)]="lineX2" type="text" aria-label="lineX2">
        </div>

        <div class="input-group" *ngIf="figureType == 'line'">
          <div class="input-group-prepend">
            <span class="input-group-text">line Y2:</span>
          </div>
          <input [(ngModel)]="lineY2" type="text" aria-label="lineY2">
        </div>

      </div>

    </div>

  </div>

</div>




