.box {
  background-color: white;
  border: 4px double black;
  z-index: 1;
}

line {
  z-index: 1;
}

.btn {
  height: 40px;
  width: 184px;
}

.btn-success {
  margin-top: 10px;
}

.btn-danger {
  margin-top: 10px;
}

.btn-primary {
  width: 50px;
  margin-left: 180px;
  margin-top: 10px;
}

.input-group-text {
  width: 180px;
  height: 40px;
}

#input-alternative {
  width: 604px;
}

.col {
  min-width: 610px;
  margin-top: 5vh;
}

.buttons {
  width: 604px;
}

.card {
  width: 604px;
  margin-top: 2vh;
  background-color: #E6E6E6;
  border: 3px double black;
}

ul {
  column-count: 3;
}


